<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Marck+Script&family=Sen:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/about.css">
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script src="js/btn_up.js" defer></script>
    <title>Музей | МКОУ Олымская СОШ</title>
    <link rel="icon" href="assets/logo.png">
</head>

<body>
    <a class="btn-up d-none" href="#navbar"></a>
    <header>
        <nav class="container navbar navbar-expand-lg p-1" id="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="assets/logo.png" alt="Logo" width="48" height="48" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="w-100 menu">
                        <div class="navbar-nav g-2">
                            <div class="nav-item p-0">
                                <a class="nav-link" href="/">Главная</a>
                            </div>
                            <div class="nav-item p-0">
                                <a class="nav-link nav-link-active" href="/about">О музее</a>
                            </div>
                            <div class="nav-item p-0">
                                <a class="nav-link" href="/activity">Деятельность</a>
                            </div>
                            <div class="nav-item p-0">
                                <a class="nav-link" href="/articles">Статьи</a>
                            </div>
                            <div class="nav-item p-0">
                                <a class="nav-link" href="/documents">Документы</a>
                            </div>
                            <div class="nav-item p-0">
                                <a class="nav-link" href="/photos">Фотогалерея</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container py-4 block_1">
            <h1 class="ff-sen pb-2 border-bottom border-white border-2">О музее</h1>
            <div class="mt-4 row d-flex justify-content-center">
                <div class="col-md-12 col-lg-8">
                    <img src="assets/block-1.png" alt="" class="img-fluid w-100">
                </div>
            </div>
            <div class="about-text row mt-5 ff-inter">
                <div class="col-lg-6 col-12">
                    <p class="ff-sen fs-2 ff-marck">Музей и память. Каждый экспонат <br>
                        Расскажет об истории эпохи.<br>
                        Экскурсовод спокойный, умный, строгий,<br>
                        Увидеть вас здесь снова будет рад.</p>
                </div>
            </div>
            <div class="fs-5 color-blue">
                Олымская средняя общеобразовательная школа распахнула
                свои двери ученикам в 1961 году.
                Через 4 года, а именно 8 мая 1965 года в нашей школе был
                открыт музей боевой славы.<br><br>
                В тот же период в эфир вышла телерадиопередача «Поиск»,
                в которой писатель Сергей Сергеевич Смирнов рассказывал о
                геройских поступках советских людей во время Великой
                Отечественной войны.
                Учителя и ученики нашей школы были активными
                слушателями этой передачи. Поражённые и восхищённые
                самоотверженными поступками героев, они стали собирать
                вырезки из газет и журналов об участниках войны, об их подвигах.
                Сначала этот материал использовался на уроках истории, затем был
                систематизирован.<br><br>
                В преддверии празднования 20-й годовщины Победы в
                нашей школе тоже было решено организовать школьный Музей. И
                началась подготовка. Ребята ходили по квартирам и домам бывших
                участников Великой Отечественное войны, собирали фото и письма
                фронтовиков и другой материал. После того, как материал был
                собран, была привлечена большая группа учащихся для
                оформления стендов и витрин. Витрины изготовил для музея
                учитель труда Третьяков Д.Т.
                Инициатором открытия школьного музея и первым
                руководителем стала учитель истории нашей школы Сташенко
                Татьяна Трофимовна.<br><br>
                Первыми экспонатами музея были:<br>
                <ul>
                    <li>фотографии жителей нашего посёлка – участников Великой Отечественной войны: Щурова П.С.,
                        Сергеева, Синюгина А.Р.,
                        Фаландышевой М., Кириллова Б.Д., Тарасова М. и др.;</li>
                    <li>фронтовые письма – треугольники. Одно из них написано
                        Сергиенко своей жене накануне Курской битвы.</li>
                    <li>газетные вырезки о подвигах советских солдат.</li>
                </ul>

                Шли годы. Наш музей поменял свой профиль. Теперь
                он историко-краеведческий.
                Школьный музей находится на первом этаже школьного
                здания и занимает помещение в 53,8 квадратных метров.
                Экспонаты музея бережно хранятся в витринах,
                стеллажах, на стендах музея.
                Экспозиции нашего музея рассказывают: о нашем посёлке,
                об истории первого сахарного завода, о нынешних предприятиях –
                втором сахарном заводе и молочно-консервном комбинате,
                создававших и создающих экономическую мощь не только района,
                но и области.
                Экспозиции музея повествуют о суровых годах
                гражданской и Великой Отечественной войны, о замечательных
                людях – наших земляках, ковавших победу в тылу и на фронтах той
                страшной войны против фашистской нечести, а также об
                участниках военных действий в Афганистане и Чечне. <br><br>
                Одним из основных разделов музея является экспозиция,
                посвящённая истории нашей школы, её учителям, ученикам и
                педагогическим династиям.
                Наша школа имеет славную спортивную историю, и
                поэтому один из стендов музея рассказывает о спортивной жизни
                нашей школы.<br>
                В школьном музее вы можете познакомиться с
                творчеством наших земляков, полюбоваться народными
                костюмами, окунуться в мир старинной избы и даже послушать
                старый патефон.
                Актив музея - это творческие, добросовестные,
                талантливые и увлечённые ребята. Они ведут исследовательскую и
                поисковую работу. <br>
                Наш музей – участник различных районных и
                областных краеведческих конкурсов, где не раз завоёвывал
                призовые места.
                На базе школьного музея проводятся экскурсии, уроки
                мужества, уроки истории и краеведения.
                Активисты музея проводят встречи с ветеранами войны
                и труда и просто интересными людьми.
                Школьный историко-краеведческий музей активно
                участвует в учебно-воспитательном процессе школы.
                Он принимает активное участие во многих школьных
                мероприятиях. <br><br>
                Наш музей всегда рад посетителям. У нас в гостях в
                своё время были делегации из соседних областей и даже из Сибири.
            </div>
            <div class="col-lg-6 col-12 my-3">
                <pre class="ff-sen fs-4 ff-marck">Хорошо, что в школах есть музеи.
Значит, нить времён не прервалась.
Значит, вместе все-таки сумеем
С прошлым удержать незримо связь.
Ты в музей пришёл не просто гостем,
Память сердца здесь ты оживи.
Может, станет хоть немного проще
Нам понять сегодняшние дни.
Прикоснись к чужой судьбе  и жизни,
Подвигам отцов ты поклонись.
Так же научись служить Отчизне,
Чтоб прожить достойно свою жизнь!
Пусть в музей тропа не зарастает,
Пусть мужает наша детвора,
Пусть быстрее каждый осознает:
Завтра вырастает из вчера.</pre>
                    <p class="fs-4 fw-bold text-decoration-underline">Приходите к нам в музей! Мы всегда рады гостям!</p>
            </div>
        </div>

    </main>
    <footer class="container-fluid d-flex align-items-center py-4">
    <div class="container footer_adress d-flex justify-content-between align-items-center">
      <div class="d-flex flex-column justify-content-between">
        <p class="text-light fw-bold fs-6 mb-0">Курская обл., п. Олымский, ул. Садовая, д. 37</p>
        <p class="text-light fw-bold fs-6 mb-0">museum.olimsky.school@gmail.com</p>
      </div>
      <div class="d-flex gap-2">
        <a href="https://vk.com/club215571146"><img src="assets/icons/icon_vk.png" alt="" width="32" height="32"></a>
        <a href="https://ok.ru/group/59275522867287"><img src="assets/icons/icon_odnk.png" alt="" width="32" height="32"></a>
      </div>
    </div>
  </footer>
</body>

</html>