<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Marck+Script&family=Sen:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/gallery.css">
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <script src="js/index.js" defer></script>
    <title>Музей | МКОУ Олымская СОШ</title>
    <link rel="icon" href="assets/logo.png">
</head>

<body>
    <a class="btn-up d-none" href="#navbar"></a>
    <header>
        <nav class="container navbar navbar-expand-lg p-1" id="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="assets/logo.png" alt="Logo" width="48" height="48" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="w-100 menu">
                        <div class="navbar-nav g-2">
                            <div class="nav-item p-0">
                                <a class="nav-link" href="/">Главная</a>
                            </div>
                            <div class="nav-item p-0">
                                <a class="nav-link" href="/about">О музее</a>
                            </div>
                            <div class="nav-item p-0">
                                <a class="nav-link" href="/activity">Деятельность</a>
                            </div>
                            <div class="nav-item p-0">
                                <a class="nav-link" href="/articles">Статьи</a>
                            </div>
                            <div class="nav-item p-0">
                                <a class="nav-link" href="/documents">Документы</a>
                            </div>
                            <div class="nav-item p-0">
                                <a class="nav-link nav-link-active" href="/photos">Фотогалерея</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container py-4 block_1">
            <h1 class="ff-sen pb-2 border-bottom border-white border-2">Фотогалерея</h1>
            <div class="gallery mt-3">
                {{#each albums}}
                <div class="gallery-item wow fadeInUp">
                    <a href="/gallery/album?id={{this._id}}" target="_blank">
                        <img src="{{this.img_src}}" alt="Photo" loading="lazy">
                        <div class="text-center ff-sen overlay fs-5"><span>{{this.title}}</span></div>
                    </a>
                </div>
                {{/each}}
            </div>

        </div>

    </main>
    <footer class="container-fluid d-flex align-items-center py-4">
    <div class="container footer_adress d-flex justify-content-between align-items-center">
      <div class="d-flex flex-column justify-content-between">
        <p class="text-light fw-bold fs-6 mb-0">Курская обл., п. Олымский, ул. Садовая, д. 37</p>
        <p class="text-light fw-bold fs-6 mb-0">museum.olimsky.school@gmail.com</p>
      </div>
      <div class="d-flex gap-2">
        <a href="https://vk.com/club215571146"><img src="assets/icons/icon_vk.png" alt="" width="32" height="32"></a>
        <a href="https://ok.ru/group/59275522867287"><img src="assets/icons/icon_odnk.png" alt="" width="32" height="32"></a>
      </div>
    </div>
  </footer>
</body>

</html>